* {
	background: none !important;
	color: black !important;
}

@page { margin: 10% }

html {
	font-size: 12pt;
}


li {
    list-style-type: none;
}
.titre {
    margin-bottom: 3.2rem;
}
p.titre {
    font-style: italic;
}

ul {
	margin: 0;
	padding: 0;
}

[data-screen-only] { /*hide elements for the screen*/
	display: none !important;
}