/* Light Lime: #abd699

Fresh Lemon: #ffe26a

Teal: #75c9b7

Mint: #c7ddcc

Navy: #16123f
 palette de couleur intéressante*/

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#abd699;
    margin:0;
    padding:0;
}

header{
    text-align: center;
    align-items: center;
}
#menu-header{
    display: flex;
    flex-direction: row;
    background-color:#75c9b7 ;
    
}
#menu-header>li{
    list-style-type: none;
    margin:auto;
    padding:5px;
    background-color:#75c9b7 ;
    width: 100%;
}

#menu-header>li:hover{
    background-color: #498074;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.title{
    font-size: large;
    color:#498074;
    margin-left:auto;
    margin-right: auto;

}
.ul-des-pratiques{
    background-color : greenyellow;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
}

.ul-des-pratiques>li{
    background-color: aqua; 
    border-radius:10px;
    padding:2px;
    margin: 5px;
}

.menu-element{
    display:flex;
    padding:2px;
    margin: 5px;
    text-align:center;
    flex-direction:column;   
}

ul.ul-des-pratiques{
    list-style-type:none;
    padding:0;
    margin:0;
}

.colonne-gauche{
    float:left;
    display:flex;
    flex-direction:column;
    background-color:#ffe26a ;

}

.form-filtre{
    display:flex;
    flex-direction: column;
}

li{
    list-style-type: none;
    margin:0;
    padding:0;
}

#cases-colonne-gauche{
    margin:0;
    padding:0;
}
#cases-colonne-gauche>li{
    border-top: solid;
    border-color: #498074;
}


#premier-cases-colonne-gauche{
    border-top: none;
}

.type-filtre-choix{
    margin:0;
    padding:0;
}

#titre-filtre{
    align-self: center;
    font-size: large;
    font-weight: bold;
}

.hidden{
    display:none
}
