.ul-des-pratiques{
    background-color : greenyellow;
    color: white;
    display:flex;
    flex-direction:column;
    border-radius: 10px;
}

li{
    background-color: aqua;
    border-radius:10px;
}

.menu-element{
    display:flex;
    padding:2px;
    margin: 5px;
    text-align:center;
    flex-direction:column;   
}

li.pratique{
    padding:2px;
    margin: 5px;
}
ul.ul-des-pratiques{
    list-style-type:none;
    padding:0;
    margin:0;
}

ul.menu{
    display:flex;
    float:left;
    display:inline-block;
    background-color: blue; 
    align-items: center;
    list-style-type:none;
    padding:0;
    margin:0;
}

h3{

}
